body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#nav-drawer {
    position: fixed;
    top: 76px;
    height: calc(100vh - 76px);
    left: 0;
    right: 0;
    margin: auto;
    padding: 48px 76px;
    overflow: scroll;
    background: white;
}
#nav-drawer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#nav-drawer ul li {
  list-style: none;
  flex: 1;
  padding: 8px;
}
#nav-drawer ul li a {
  padding: 16px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  box-shadow: 1px 1px 4px #00000017;
  align-items: center;
  justify-content: center;
}
#nav-drawer ul li a span img{
  margin-bottom: 16px;
  margin-left: -5px;
}
#nav-drawer ul li a h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
}
main {
  padding: 16px;
  margin-top: 76px;
}
